{% extends "layouts/_default.twig" %}
{% block main_content %}
    <h1>{{quiz.name}}</h1>
    <p><strong>ID:</strong>{{quiz.id}}</p>
    <p><strong>Weight:</strong>{{quiz.weight}}</p>
    <p><strong>Created:</strong>{{quiz.createdAt}}</p>
    <p><strong>Updated:</strong>{{quiz.updatedAt}}</p>
    <p>
        <a href="/quizzes/{{quiz.id}}/delete">Delete</a>
    </p>
{% endblock %}